<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <settings>
         <setting name="cacheEnabled" value="false"/>
     </settings>
	
	<typeAliases>
		<package name="com.point.web.entity"/>
	</typeAliases>
	
	<!-- 指定映射文件-->
	<mappers>
		<mapper resource="com/point/web/entity/sqlmap/Order-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/VirtualCode-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/Upmsg-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/Channel-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/User-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/role-sqlmap-mapping.xml" />
		<mapper resource="com/point/web/entity/sqlmap/resource-sqlmap-mapping.xml" />	
	</mappers> 
</configuration>